:root{
    --primary-color: #1c4662;
    --secondary-color: #e0d3b8;
    --tertiary-color:#c2d3e0;
}
body{
    margin: 90px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Martian Mono', monospace;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.custom-navbar{
    background-color:var(--primary-color) !important;
}
.navbar-brand{
    color: var(--tertiary-color);
    font-size: 32px;
}
.navbar-brand:hover{
    color: var(--secondary-color);
    cursor: pointer;
}
.nav-link{
    color: var(--secondary-color);
    font-size: 18px;
}
.nav-link:hover{
    color: var(--tertiary-color);
    cursor: pointer;
}
.in-h2{
    text-align: center;
    
    font-size: 36px;
}
h1{
    margin: 0;
    text-align: center;
    padding: 80px;
    font-size: 72px;
}

.in-h3{
    font-size: 36px;
    text-align: center;
    
}
.in-section{
    background-color: var(--tertiary-color);
    padding: 100px;
    margin-top: 40px;
}
.in-h4{
    
    font-size: 28px;
    margin-bottom: 20px;
}
.in-p{
    
    text-align: justify;
}
.tf-img{
    height: 300px;
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.btn{
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 9px 16px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.btn:hover{
    background-color: var(--primary-color);
    color:var(--secondary-color);
    cursor: pointer;
}
.short{
    padding: 21.5px;
}
.tp-section{
    margin: 80px;
    background-color: var(--tertiary-color);
    padding: 50px;
    border-radius: 4px;
    text-align: justify;
}
.last-img{
    height: 300px;
    width: 200px;
    margin: 0 auto;
    display: block;
}
h5{
    margin: 20px;
    text-align: center;
    font-size: 22px;
}
h6{
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
.long{
    font-size: 20px;
    margin: 9px;
}
.last-box{
    transition: all 200ms ease-in-out;
    padding: 20px ;
    border-radius: 4px;
}
.last-box:hover{
    background-color: var(--tertiary-color);
}
footer{
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    body{
        margin: 40px;
        padding: 0;
    }
    .in-h2{
        margin-top: 90px;
        margin-bottom: 0;
    }
    .in-h3{
        margin-top: 0;
        margin-bottom: 50px;
    }
    
    h1{
        margin-top: 90px;
        margin-bottom: 90px;
        font-size: 52px !important;
        padding: 0px !important;
    }
    .in-section{
        margin: 20px 0; 
        padding: 20px; 
        text-align: center;
    }
    .in-h4{
        font-size: 25px;
    }
    .tf-img {
        width: 100%; 
        height: auto; 
    }

    .btn,
    .short {
        width: 100%; 
    }
    
    .tp-section {
        margin: 20px 0; 
        padding: 20px; 
    }
}